<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysd.dao.zmf.UserTabMapper">
	
	<!-- <resultMap type="com.ysd.entity.zmf.UserCustom" id="user_Custom">
		<id column="userId" property="userId"/>
		<result column="userName" property="userName" />
		<result column="userIsLockout" property="userIsLockout" />
		<result column="userEmail" property="userEmail" />
		<result column="userTelephone" property="userTelephone" />
		<result column="userCreateTime" property="userCreateTime" />
		<result column="userLastLoginTime" property="userLastLoginTime" />
		<collection property="role" resultMap="role_Map"></collection>
	</resultMap>
	<resultMap type="roleTab" id="role_Map">
		<id column="roleId" property="roleId" />
		<result column="roleName" property="roleName" />
	</resultMap> -->
	<select id="selectUserByTiaoJian" resultType="userTab" parameterType="fenye">
		select 
			 userId,
			 userName,
			 userIsLockout,
			 userEmail,
			 userTelephone,
			 userCreateTime,
			 userLastLoginTime
		from usertab  
		<where>
			<if test="userCondition.userName != null and userCondition.userName != ''">
				and userName like "%"#{userCondition.userName}"%"
			</if>
			<if test="userCondition.userCreateTimeBigin != null and userCondition.userCreateTimeBigin != ''">
				and userCreateTime &lt; #{userCondition.userCreateTimeBigin}
			</if>
			<if test="userCondition.userCreateTimeEnd != null and userCondition.userCreateTimeEnd!= ''">
				and userCreateTime &gt; #{userCondition.userCreateTimeEnd}
			</if>
			<if test="userCondition.userIsLockout != null and userCondition.userIsLockout != ''">
				and userIsLockout = #{userCondition.userIsLockout}
			</if>
		</where>
		limit #{page},#{rows}
	</select>
	<select id="selectUserCountByTiaoJian" resultType="int" parameterType="fenye">
		select count(userId) from usertab  
		<where>
			<if test="userCondition.userName != null and userCondition.userName != ''">
				and userName like "%"#{userCondition.userName}"%"
			</if>
			<if test="userCondition.userCreateTimeBigin != null and userCondition.userCreateTimeBigin != ''">
				and userCreateTime &lt; #{userCondition.userCreateTimeBigin}
			</if>
			<if test="userCondition.userCreateTimeEnd != null and userCondition.userCreateTimeEnd!= ''">
				and userCreateTime &gt; #{userCondition.userCreateTimeEnd}
			</if>
			<if test="userCondition.userIsLockout != null and userCondition.userIsLockout != ''">
				and userIsLockout = #{userCondition.userIsLockout}
			</if>
		</where>
	</select>
	 <insert id="insertUser" parameterType="userTab">
	 	insert into usertab(userName,userPassWord,userEmail,userTelephone,userCreateTime) values(#{userName},#{userPassWord},#{userEmail},#{userTelephone},NOW())
	 </insert>
	 <delete id="deleteUser" parameterType="String">
	 	delete from usertab where userName = #{0}
	 </delete>
	 <update id="updateUser" parameterType="userTab">
	 	update usertab 
	 	<set>
	 		<if test="userEmail != null and userEmail != ''">
	 			userEmail = #{userEmail},
	 		</if>
	 		<if test="userTelephone != null and userTelephone != ''">
	 			userTelephone = #{userTelephone},
	 		</if>
	 		<if test="userEmail != null or userUpdateTime != '' or userTelephone != null or userTelephone != ''">
	 			userUpdateTime = NOW(),
	 		</if>
	 		<if test="userLastLoginTime != null and userLastLoginTime != ''">
	 			userLastLoginTime = #{userLastLoginTime},
	 		</if>
	 		<if test="userPassWrongCout != null and userPassWrongCout != ''">
	 			userPassWrongCout = #{userPassWrongCout},
	 		</if>
	 		<if test="userLockoutTime != null and userLockoutTime != ''">
	 			userLockoutTime = #{userLockoutTime},
	 		</if>
	 		<if test="userLastLoginIp != null and userLastLoginIp != ''">
	 			userLastLoginIp = #{userLastLoginIp},
	 		</if>
	 		<if test="userIsLockout != null and userIsLockout != ''">
	 			userIsLockout = #{userIsLockout},
	 		</if>
	 		<if test="userPassWord != null and userPassWord != ''">
	 			userPassWord = #{userPassWord},
	 		</if>
	 	</set>
	 	where userName = #{userName}
	 </update>
</mapper>